{% extends "base.html" %}
{% load static %}

{%  block base_head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block content %}
<div class="container">
<div class="col-md-auto">
    <b>Contact Here</b>
 </div>
</div>
{% endblock %}