{% extends "base.html" %}
{% load static %}

{%  block base_head %}
    <link rel="stylesheet" href="{% static "css/main.css" %}">
{% endblock %}

{% block content %}
<div class="container">
<div class="col-md-auto">
    <diV class="text-center">
        {{ title }}
        <h1>Welcome to the our shop</h1>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="{% static 'img/ecommerce.png' %}" class='img-fluid' alt="Image in unable to load"/>
                    {{ premium_content }}
                </div>
            </div>
        </div>
    </div>
 </div>
</div>
{% endblock %}


<!--  {% if user.is_authenticated %}-->
<!--  Hi {{ user.username }}!-->
<!--  <p class="lead"><a href="{% url 'logout' %}" class="btn btn-lg btn-secondary">logout</a></p>-->
<!--{% else %}-->
<!--  <p class="lead">You are not logged in</p>-->
<!--   <p class="lead">-->
<!--  <a href="{% url 'login' %}" class="btn btn-lg btn-secondary">Login</a> |-->
<!--  <a href="{% url 'accounts:signup' %}" class="btn btn-lg btn-secondary">Signup</a>-->
<!--     </p>-->
<!--{% endif %}-->



