{% extends "base.html" %}

{% block content %}


<!--    {{ object.order_id }} &#45;&#45; {{ object.cart }}-->
<div class="container">
    {% if not billing_profile %}
    <div class="row text-center">
        <div class="col-12 col-md-6">
            <p class="lead">Login</p>
            {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
        </div>
        <div class="col-12 col-md-6">
            Continue as Guest
            {% url 'guest_register' as guest_register_url %}
            {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
        </div>
    </div>

    {% else %}

    {% if not object.shipping_address %}
    <div class="row">
        <div class="col-12">
            <p class="lead">Shipping Address</p>
            <hr/>
        </div>
        <div class="col-6">
            {% url 'checkout_address_create' as checkout_address_create %}
            {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='shipping' %}
        </div>
        <div class="col-6">
            {% url 'checkout_address_reuse' as checkout_address_reuse %}
            {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='shipping' action_url=checkout_address_reuse %}
        </div>

    </div>
    {% elif not object.billing_address %}
    <div class="row">
        <div class="col-12">
            <p class="lead">Billing Address</p>
            <hr/>
        </div>
        <div class="col-6">
            {% url 'checkout_address_create' as checkout_address_create %}
            {% include 'addresses/form.html' with form=address_form next_url=request.build_absolute_uri action_url=checkout_address_create address_type='billing' %}
        </div>
        <div class="col-6">
            {% url 'checkout_address_reuse' as checkout_address_reuse %}
            {% include 'addresses/prev_addresses.html' with address_qs=address_qs next_url=request.build_absolute_uri address_type='billing' action_url=checkout_address_reuse %}
        </div>
    </div>
    {% else %}
    <h1>Finalize Checkout</h1>
    <p>Cart Items: {% for product in object.cart.products.all %}
        {{ product }}
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
    </p>
    <p>Shipping Address: {{ object.shipping_address.get_address }}</p>
    <p>Billing Address: {{ object.billing_address.get_address }}</p>
    <p>Cart Total: {{ object.cart.total }}</p>
    <p>Shipping Total: {{ object.shipping_total }}</p>
    <p>Order Total: {{ object.total }}</p>

    <form class="form" method="POST" action="">
        {% csrf_token %}
        <button type="submit" class="btn btn-success">Checkout</button>
    </form>
    {% endif %}

    {% endif %}
</div>
{% endblock %}