{% load static %}

{% url 'home:home' as home_url %}
{% url 'home:contact' as contact_url %}
{% url 'products:list' as product_list_url %}
{% url 'login' as login_url %}
{% url 'logout' as logout_url %}
{% url 'accounts:customer_signup' as signup_url %}
{% url 'cart:home' as cart_url %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container">
        <a class="navbar-brand" href="{{ home_url }}">
            <img src="{% static 'img/logo.png' %}" width="30" height="30"
                 class="d-inline-block align-top" alt="Bo">
        </a>
        <a class="navbar-brand" href="{{ home_url }}">
            {% if brand_name %}
                {{ brand_name }}
            {% else %}
                CFE eCommerce
            {% endif %}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
                aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item {% if request.path == home_url %}active{% endif %}">
                    <a class="nav-link" href="{{ home_url }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item {% if request.path == contact_url %}active{% endif %}">
                    <a class="nav-link" href="{{ contact_url }}">Contact</a>
                </li>
                <li class="nav-item {% if request.path == product_list_url %}active{% endif %}">
                    <a class="nav-link" href="{{ product_list_url }}">Product</a>
                </li>
                {% if request.user.is_authenticated %}
                    <li class="nav-item {% if request.path == logout_url %}active{% endif %}">
                        <a class="nav-link" href="{{ logout_url }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item {% if request.path == signup_url %}active{% endif %}">
                        <a class="nav-link" href="{{ signup_url }}">Register</a>
                    </li>
                    <li class="nav-item {% if request.path == login_url %}active{% endif %}">
                        <a class="nav-link" href="{{ login_url }}">Login</a>
                    </li>
                {% endif %}

                 <li class="nav-item {% if request.path == cart_url %}active{% endif %}">
                    <a class="nav-link" href="{{ cart_url }}">{{ request.session.cart_items }}&nbsp;<i class="fas fa-shopping-cart"></i> </a>
                </li>

            </ul>
            {% include 'search/snippets/search-form.html' %}
        </div>
    </div>
</nav>
