<div class="card" style="width: 18rem;">

    {% if instance.image %}
        <img class="card-img-top" src="{{ instance.image.url }}" alt="{{ instance.title }} logo">
    {% endif %}

  <div class="card-body">
    <h5 class="card-title">{{ instance.title }}</h5>
    <p class="card-text">{{ instance.description | linebreaks| truncatewords:12 }}</p>
    <a href="{{ instance.get_absolute_url }}" class="btn btn-primary">View</a>
  {#<a href="{% url 'products:detail' slug=instance.slug %}" class="btn btn-warning">URL</a>#}
  </div>
</div>