<form method="post" action="{% url 'cart:update' %}" class="form">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">

    {% if in_cart %}
        <button class="btn btn-link btn-sm" style="padding: 0; cursor: pointer;" type="submit">Remove?</button>
    {% else %}
        {% if product in cart.products.all %}
            In cart
            <button class="btn btn-link" type="submit">Remove</button>
        {% else %}
            <button class="btn btn-success" type="submit">Add to cart</button>
        {% endif %}
    {% endif %}
</form>