{% extends "base.html" %}
{% block content %}
    <div class="container">
    <div class="row mb-3">
        {% if request.GET.q %}
        <div class="col-12 ">
            Searched for {{ request.GET.q }}
            <hr/>
        </div>
        {% else %}
        <div class="column-12 col-md-6 mx-auto py-5">
            {% include 'search/snippets/search-form.html' %}
        </div>
        {% endif %}
    </div>
        <div class="row">
            {% for obj in object_list %}
                <div class="column">
                    {% include 'products/snippets/card.html' with instance=obj %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}