<form method="get" action="{% url 'search:query' %}" class="form my-2 my-lg-0">
    <div class="input-group">
         <input class="form-control" type="search" name="q" aria-label="Search" placeholder="Search" value="{{ request.GET.q }}">
        <span class="input-group-btn">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </span>
    </div>
</form>