{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container">
<div class="col-md-auto">
      <h2>Sign up as a {{ user_type }}</h2>
      <form class="form-group" method="post" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% crispy form %}
        <button type="submit" class="btn btn-success">Sign up</button>
      </form>
    </div>
  </div>
{% endblock %}