{% extends 'base.html' %}

{% block content %}
  <h2>Sign up for a free account</h2>
  <p class="lead">Select below the type of account you want to create</p>
  <a href="{% url 'accounts:admin_signup' %}" class="btn btn-admin btn-lg" role="button">I'm a admin</a>
  <a href="{% url 'accounts:manager_signup' %}" class="btn btn-manager btn-lg" role="button">I'm a manager</a>
{% endblock %}
